<footer class="footer">
  <small>
    <a href="http://github.com/polito-lam/SWorD" alt="SWorD on GitHub">SWorD</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bit.ly/lingambmult" alt="Linguaggi e Ambienti Multimediali">News</a></li>
    </ul>
  </nav>
</footer>